---
---

@import "minima";

.download-link {
	font-size: 1.5em;
}

.btn {
	border: 1px solid grey;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;

	&:hover {
		color: white;
		text-decoration: none;
	}

	&.is-primary {
		color: white;
		border: none;
		background-color: #1756a9;
	}

	&.is-small {
		padding: 5px 15px;
	}
}